main{
    .box{
        height: 60vh;
        .o{
            text-align: center;
            .bg1{
                font-family: 'Lato', sans-serif;
                font-size: 25px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #676767;
                margin-bottom: 20px;
                a{
                    color: #0087ff;
                    text-decoration: none;
                    word-wrap: break-word;
                    span{
                        color: inherit;
                        text-decoration: none;
                    }
                    .link{
                        text-decoration: underline;
                    }
                }
                span{
                    color: #e34b40;
                }
            }
            .ultra{
                width: 600px;
                font-size: 30px;
            }
            .u9{
                color: #aaa;
                margin-bottom: 20px;
            }
            .b3{
                padding: 10px 20px;
                display: inline-block;
                border-radius: 12px;
                background-color: #f4627c;
                color: #fff;
                text-decoration: none;
                .button_p{
                    font-family: 'K2D', sans-serif;
                }
            }
        }
    }
}
